*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins,sans-serif;
}

body{

height:100vh;

display:flex;

justify-content:center;

align-items:center;

background:linear-gradient(135deg,#141e30,#243b55);

color:white;

}

.quiz-box{

width:700px;

max-width:90%;

background:rgba(255,255,255,.08);

backdrop-filter:blur(15px);

padding:35px;

border-radius:20px;

box-shadow:0 20px 40px rgba(0,0,0,.4);

}

.progress{

height:8px;

background:#555;

border-radius:20px;

overflow:hidden;

margin:20px 0;

}

#progressBar{

height:100%;

width:0;

background:#00e676;

transition:.5s;

}

.top{

display:flex;

justify-content:space-between;

margin-bottom:20px;

}

#timer{

background:#ff5252;

padding:8px 18px;

border-radius:20px;

font-weight:bold;

}

#answers button{

width:100%;

margin:10px 0;

padding:15px;

border:none;

border-radius:10px;

cursor:pointer;

font-size:17px;

transition:.3s;

}

#answers button:hover{

transform:scale(1.02);

}

.correct{

background:#4caf50!important;

color:white;

}

.wrong{

background:#e53935!important;

color:white;

}

.buttons{

display:flex;

justify-content:space-between;

margin-top:25px;

}

.buttons button,#result button{

padding:14px 30px;

border:none;

border-radius:10px;

background:#2979ff;

color:white;

cursor:pointer;

font-size:16px;

transition:.3s;

}

button:hover{

transform:translateY(-3px);

}

.hidden{

display:none;

}

#result{

text-align:center;

}